<!doctype html>
<html>
  <head>
    <title>ConcertFeed: Let Music Find You</title>
  	<link rel="icon" href="assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <div id="login">
      <div class="vertical-center">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
            <div class="row">
        		  <div class="titlecard">
                <img src="assets/CFlogo.png" width="90%">
                <br>
        				<h1>
                  <i>Connecting you with the live music you love.</i>
                </h1>
        				<p>ConcertFeed uses your Spotify account and Bandsintown to alert you of concerts near you from all of your favorite artists.</p>
        				<div class="buttonOuter">
                  <a href="/login">
                    <div class="button" align="center">
                      Get Started
                    </div>
                  </a>
                </div>
        			</div>
        		</div>
            <div class="row">
              <img class="footer-image" src="assets/footer.png">
        		</div>
          </div>
        </div>
      </div>
    </div>

    <div id="loggedin">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 column">
        <div class="row" >
          <div id="name" class="col-xs-3"></div>
            <div class="col-xs-6">
              <img src="assets/CFlogo.png" width="100%">
            </div>
          <div id="logout" class="col-xs-3"></div>
        </div>
			  <hr>
			  <div id="concerts">
          <div class="na" id="na">No concerts nearby! Check again soon!</div>
        </div>
	    </div>
	  </div>

    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/loadData.js"></script>
</html>
